@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quattrocento:wght@400;700&display=swap');

@import "tailwindcss";

:root {
  --background: #e3e3e3;
  --foreground: #171717;
}

@theme inline {
  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Quattrocento", serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary-50: #FEF7F3;
  --color-primary-100: #FDEEE6;
  --color-primary-200: #FBD5C1;
  --color-primary-300: #F9BC9B;
  --color-primary-400: #F48A51;
  --color-primary-500: #EF5806;
  --color-primary-600: #D74F05;
  --color-primary-700: #8F3504;
  --color-primary-800: #6C2803;
  --color-primary-900: #481A02;

  --color-secondary-500: #e3e3e3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}